#
# {{ ansible_managed }}
#

server {
    listen 80;
    listen [::]:80;
    server_name xdebug.dev;
    keepalive_timeout 60;

    root /vagrant/web;
    index index.php;

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_read_timeout 3600;
    }
}
