---
- name: Install PHP CLI
  apt: pkg=php7.0-cli state=latest update_cache=yes cache_valid_time=3600

- name: Install PHP packages
  apt: pkg={{ item }} state=latest update_cache=yes cache_valid_time=3600
  with_items: "{{php_packages}}"

- name: Ensure Xdebug not present
  apt: pkg=php7.0-xdebug state=absent update_cache=yes cache_valid_time=3600
